:root {
    --primary: #4A8BFF;
    --secondary: #FFE15D;
    --bg: #F8FAFF;
    --card: #FFFFFF;
    --text: #333;
    --radius: 16px;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}
